footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 8%;

  .footer-logo {
    width: 200px;
    height: 100%;
  }

  #footer_link_content {
    display: flex;
    gap: 48px;

    .footer-list {
      display: flex;
      flex-direction: column;
      gap: 12px;
      list-style: none;

      li {
        .list-title {
          color: var(--secondary-color);
        }
        .footer-link {
          color: #ffffff;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: var(--secondary-color);
          }
        }
      }
    }
  }
}