.page-title {
  margin-top: 60px;
  scroll-margin-top: 120px;
}

#nav_bar {
  background: linear-gradient(180deg, #2bac0a, #fae1e9 );
  border-radius: 24px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
  padding: 24px 4%;

  position: fixed;
  width: 92%;
  left: 50%;
  top: 12px;
  transform: translate(-50%);
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 150px;
  height: auto;
}

#nav_list {
  display: flex;
  list-style: none;
  gap: 24px;
}
  
.nav-item {
    
  }
.nav-link {
  display: inline;
  line-height: 1;
  padding: 6x 0px;
  text-decoration: none;
  font-size: 1.15rem;
  color: #020617;
  font-weight: 400;
  
  &.action {
    border-bottom: 3px solid;
    }
  }

.logo-link {
  text-decoration: none;
  color: #ffffff;
  background-color: var(--primary-color-1);
  padding: 12px 16px;
  height: fit-content;
  border-radius: 8px;
  font-weight: 500;
  transition: background 0.3s ease;

  &:hover {
    background-color: var(--primary-color-2);
  }

}


